# Virtual environment
env/

.venv/

# Static files
staticfiles/
media/
media_check_backup/
temp_uploads/

# Daphne socket and lock files
*.sock
*.sock.lock

# Compiled Python
__pycache__/
*.py[cod]

# VSCode or JetBrains settings (optional)
.vscode/
.idea/

# Logs
*.log

# DB (if using SQLite for dev)
*.sqlite3

# Secrets (never commit)
.env
api/__pycache__/
-e "\napi/__pycache__/\n*.pyc" 
api/__pycache__/
api/*.pyc 
# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

cloudflare-b2-worker/

